infrastructure/cloudformation.yaml
AWSTemplateFormatVersion: '2010-09-09'
Description: 'RentGuard 360 - Complete Infrastructure Stack'

# =============================================================================
# PARAMETERS
# =============================================================================
Parameters:
  ProjectName:
    Type: String
    Default: RentGuard360
    Description: Project name prefix for all resources

  NameSuffix:
    Type: String
    Default: ''
    AllowedPattern: '^(-[a-z0-9]{1,20})?$'
    ConstraintDescription: "Must be empty or like '-test' (lowercase letters/numbers, up to 20 chars)."
    Description: Optional suffix to allow multiple isolated stacks in the same account (e.g., -test)

  Environment:
    Type: String
    Default: prod
    AllowedValues: [dev, staging, prod]
    Description: Deployment environment

  AzureDocEndpoint:
    Type: String
    Description: Azure Document Intelligence endpoint URL
    NoEcho: false

  AzureDocKey:
    Type: String
    Description: Azure Document Intelligence API key
    NoEcho: true

  SenderEmail:
    Type: String
    Default: rentguard360@gmail.com
    Description: Verified SES email for notifications

  LambdaCodeBucket:
    Type: String
    Description: S3 bucket containing Lambda deployment packages (lambdas.zip)

  LambdaCodeKey:
    Type: String
    Default: lambdas.zip
    Description: S3 key for the Lambda deployment package within LambdaCodeBucket

  StripeApiUrl:
    Type: String
    Default: ''
    Description: Base URL of the Stripe Payment API (example: https://xxxx.execute-api.us-east-1.amazonaws.com/prod)

  PaymentInternalApiKey:
    Type: String
    NoEcho: true
    Default: ''
    Description: Shared secret for trusted server-to-server calls from GetUploadUrl Lambda to Payment API

# =============================================================================
# RESOURCES
# =============================================================================
Resources:

  # ---------------------------------------------------------------------------
  # S3 BUCKETS
  # ---------------------------------------------------------------------------
  ContractsBucket:
    Type: AWS::S3::Bucket
    Properties:
      BucketName: !Sub 'rentguard360-contracts-${AWS::AccountId}${NameSuffix}'
      NotificationConfiguration:
        EventBridgeConfiguration:
          EventBridgeEnabled: true
      CorsConfiguration:
        CorsRules:
          - AllowedHeaders: ['*']
            AllowedMethods: [GET, PUT, POST, DELETE, HEAD, OPTIONS]
            AllowedOrigins:
              - '*'
            ExposedHeaders: [ETag, x-amz-server-side-encryption, x-amz-request-id, x-amz-id-2]
            MaxAge: 3000
      OwnershipControls:
        Rules:
          - ObjectOwnership: BucketOwnerEnforced
      BucketEncryption:
        ServerSideEncryptionConfiguration:
          - ServerSideEncryptionByDefault:
              SSEAlgorithm: AES256
      PublicAccessBlockConfiguration:
        BlockPublicAcls: true
        BlockPublicPolicy: true
        IgnorePublicAcls: true
        RestrictPublicBuckets: true

  FrontendBucket:
    Type: AWS::S3::Bucket
    Properties:
      BucketName: !Sub 'rentguard360-frontend-${AWS::AccountId}${NameSuffix}'
      WebsiteConfiguration:
        IndexDocument: index.html
        ErrorDocument: index.html
      OwnershipControls:
        Rules:
          - ObjectOwnership: BucketOwnerEnforced
      BucketEncryption:
        ServerSideEncryptionConfiguration:
          - BucketKeyEnabled: true
            ServerSideEncryptionByDefault:
              SSEAlgorithm: AES256
      PublicAccessBlockConfiguration:
        BlockPublicAcls: true
        BlockPublicPolicy: true
        IgnorePublicAcls: true
        RestrictPublicBuckets: true

  FrontendBucketPolicy:
    Type: AWS::S3::BucketPolicy
    Properties:
      Bucket: !Ref FrontendBucket
      PolicyDocument:
        Version: '2012-10-17'
        Statement:
          - Sid: AllowCloudFrontRead
            Effect: Allow
            Principal:
              Service: cloudfront.amazonaws.com
            Action: s3:GetObject
            Resource: !Sub '${FrontendBucket.Arn}/*'
            Condition:
              StringEquals:
                AWS:SourceArn: !Sub 'arn:aws:cloudfront::${AWS::AccountId}:distribution/${CloudFrontDistribution}'

  # ---------------------------------------------------------------------------
  # DYNAMODB TABLES
  # ---------------------------------------------------------------------------
  ContractsTable:
    Type: AWS::DynamoDB::Table
    Properties:
      TableName: !Sub 'RentGuard-Contracts${NameSuffix}'
      BillingMode: PAY_PER_REQUEST
      AttributeDefinitions:
        - AttributeName: userId
          AttributeType: S
        - AttributeName: contractId
          AttributeType: S
      KeySchema:
        - AttributeName: userId
          KeyType: HASH
        - AttributeName: contractId
          KeyType: RANGE

  AnalysisTable:
    Type: AWS::DynamoDB::Table
    Properties:
      TableName: !Sub 'RentGuard-Analysis${NameSuffix}'
      BillingMode: PAY_PER_REQUEST
      AttributeDefinitions:
        - AttributeName: contractId
          AttributeType: S
      KeySchema:
        - AttributeName: contractId
          KeyType: HASH

  UserConsentTable:
    Type: AWS::DynamoDB::Table
    Properties:
      TableName: !Sub 'RentGuard-UserConsent${NameSuffix}'
      BillingMode: PAY_PER_REQUEST
      AttributeDefinitions:
        - AttributeName: userId
          AttributeType: S
        - AttributeName: contractId
          AttributeType: S
      KeySchema:
        - AttributeName: userId
          KeyType: HASH
        - AttributeName: contractId
          KeyType: RANGE

  SupportTicketsTable:
    Type: AWS::DynamoDB::Table
    Properties:
      TableName: !Sub 'SupportTickets${NameSuffix}'
      BillingMode: PAY_PER_REQUEST
      AttributeDefinitions:
        - AttributeName: ticketId
          AttributeType: S
      KeySchema:
        - AttributeName: ticketId
          KeyType: HASH

  ContractChatHistoryTable:
    Type: AWS::DynamoDB::Table
    Properties:
      TableName: !Sub 'RentGuard-ContractChatHistory${NameSuffix}'
      BillingMode: PAY_PER_REQUEST
      AttributeDefinitions:
        - AttributeName: userId
          AttributeType: S
        - AttributeName: threadKey
          AttributeType: S
      KeySchema:
        - AttributeName: userId
          KeyType: HASH
        - AttributeName: threadKey
          KeyType: RANGE

  # ---------------------------------------------------------------------------
  # COGNITO
  # ---------------------------------------------------------------------------
  UserPool:
    Type: AWS::Cognito::UserPool
    Properties:
      UserPoolName: !Sub '${ProjectName}-UserPool${NameSuffix}'
      UsernameAttributes: [email]
      AutoVerifiedAttributes: [email]
      Policies:
        PasswordPolicy:
          MinimumLength: 8
          RequireUppercase: true
          RequireLowercase: true
          RequireNumbers: true
          RequireSymbols: true
      Schema:
        - Name: email
          Required: true
          Mutable: true
        - Name: name
          Required: false
          Mutable: true
      EmailConfiguration:
        EmailSendingAccount: COGNITO_DEFAULT
      VerificationMessageTemplate:
        DefaultEmailOption: CONFIRM_WITH_CODE
        EmailSubject: "RentGuard - Your verification code"
        EmailMessage: |
          <div dir="rtl" style="font-family: Arial, sans-serif; background-color: #f4f4f4; padding: 20px;">
            <div style="background-color: white; max-width: 500px; margin: 0 auto; padding: 30px; border-radius: 8px; box-shadow: 0 2px 4px rgba(0,0,0,0.1);">
              <h2 style="color: #007bff; text-align: center;">RentGuard 🛡️</h2>
              <p style="font-size: 16px; color: #333;">היי,</p>
              <p style="font-size: 16px; color: #333;">הזן את קוד האימות הבא כדי להמשיך:</p>
              <div style="text-align: center; margin: 30px 0;">
                <span style="font-size: 32px; font-weight: bold; letter-spacing: 5px; color: #333; background-color: #f0f0f0; padding: 10px 20px; border-radius: 5px;">{####}</span>
              </div>
              <p style="font-size: 14px; color: #666;">הקוד תקף ל-24 שעות.</p>
              <hr style="border: 0; border-top: 1px solid #eee; margin: 20px 0;">
              <p style="text-align: center; font-size: 12px; color: #999;">© 2025 RentGuard Team</p>
            </div>
          </div>
        SmsMessage: "RentGuard - Your verification code is {####}."
      AccountRecoverySetting:
        RecoveryMechanisms:
          - Name: verified_email
            Priority: 1
      AdminCreateUserConfig:
        AllowAdminCreateUserOnly: false
      MfaConfiguration: "OFF"
      UserAttributeUpdateSettings:
        AttributesRequireVerificationBeforeUpdate:
          - email
      LambdaConfig:
        PostConfirmation: !GetAtt AutoVerifySESFunction.Arn
        PostAuthentication: !GetAtt VerifySesOnLoginFunction.Arn

  UserPoolClient:
    Type: AWS::Cognito::UserPoolClient
    Properties:
      ClientName: !Sub '${ProjectName}-WebClient${NameSuffix}'
      UserPoolId: !Ref UserPool
      GenerateSecret: false
      ExplicitAuthFlows:
        - ALLOW_USER_PASSWORD_AUTH
        - ALLOW_REFRESH_TOKEN_AUTH
        - ALLOW_USER_SRP_AUTH

  AdminsGroup:
    Type: AWS::Cognito::UserPoolGroup
    Properties:
      GroupName: Admins
      UserPoolId: !Ref UserPool
      Description: Administrator group with full access

  # ---------------------------------------------------------------------------
  # IAM ROLES
  # ---------------------------------------------------------------------------
  RentGuardLambdaRole:
    Type: AWS::IAM::Role
    Properties:
      AssumeRolePolicyDocument:
        Version: '2012-10-17'
        Statement:
          - Effect: Allow
            Principal:
              Service: lambda.amazonaws.com
            Action: sts:AssumeRole
      ManagedPolicyArns:
        - arn:aws:iam::aws:policy/AmazonSESFullAccess
        - arn:aws:iam::aws:policy/AmazonBedrockFullAccess
        - arn:aws:iam::aws:policy/AmazonDynamoDBFullAccess
        - arn:aws:iam::aws:policy/AmazonCognitoPowerUser
        - arn:aws:iam::aws:policy/AmazonS3FullAccess
        - arn:aws:iam::aws:policy/CloudWatchLogsFullAccess

  StepFunctionsRole:
    Type: AWS::IAM::Role
    Properties:
      AssumeRolePolicyDocument:
        Version: '2012-10-17'
        Statement:
          - Effect: Allow
            Principal:
              Service: states.amazonaws.com
            Action: sts:AssumeRole
      Policies:
        - PolicyName: InvokeLambdas
          PolicyDocument:
            Version: '2012-10-17'
            Statement:
              - Effect: Allow
                Action: lambda:InvokeFunction
                Resource: !Sub 'arn:aws:lambda:${AWS::Region}:${AWS::AccountId}:function:*'

  EventBridgeRole:
    Type: AWS::IAM::Role
    Properties:
      AssumeRolePolicyDocument:
        Version: '2012-10-17'
        Statement:
          - Effect: Allow
            Principal:
              Service: events.amazonaws.com
            Action: sts:AssumeRole
      Policies:
        - PolicyName: StartExecution
          PolicyDocument:
            Version: '2012-10-17'
            Statement:
              - Effect: Allow
                Action: states:StartExecution
                Resource: !Ref ContractWorkflow

  # ---------------------------------------------------------------------------
  # LAMBDA FUNCTIONS
  # ---------------------------------------------------------------------------
  AzureOCRFunction:
    Type: AWS::Lambda::Function
    Properties:
      FunctionName: !Sub '${ProjectName}-AzureOCR${NameSuffix}'
      Runtime: python3.11
      Handler: RentGuard_AzureOCR.lambda_handler
      Role: !GetAtt RentGuardLambdaRole.Arn
      Timeout: 180
      MemorySize: 128
      Code:
        S3Bucket: !Ref LambdaCodeBucket
        S3Key: !Ref LambdaCodeKey
      Environment:
        Variables:
          AZURE_DOC_ENDPOINT: !Ref AzureDocEndpoint
          AZURE_DOC_KEY: !Ref AzureDocKey
          BUCKET_NAME: !Ref ContractsBucket

  PrivacyShieldFunction:
    Type: AWS::Lambda::Function
    Properties:
      FunctionName: !Sub '${ProjectName}-PrivacyShield${NameSuffix}'
      Runtime: python3.11
      Handler: privacy_shield.lambda_handler
      Role: !GetAtt RentGuardLambdaRole.Arn
      Timeout: 3
      MemorySize: 128
      Code:
        S3Bucket: !Ref LambdaCodeBucket
        S3Key: !Ref LambdaCodeKey

  AIAnalyzerFunction:
    Type: AWS::Lambda::Function
    Properties:
      FunctionName: !Sub '${ProjectName}-AIAnalyzer${NameSuffix}'
      Runtime: python3.11
      Handler: ai_analyzer.lambda_handler
      Role: !GetAtt RentGuardLambdaRole.Arn
      Timeout: 720
      MemorySize: 512
      Code:
        S3Bucket: !Ref LambdaCodeBucket
        S3Key: !Ref LambdaCodeKey

  SaveResultsFunction:
    Type: AWS::Lambda::Function
    Properties:
      FunctionName: !Sub '${ProjectName}-SaveResults${NameSuffix}'
      Runtime: python3.11
      Handler: save_results.lambda_handler
      Role: !GetAtt RentGuardLambdaRole.Arn
      Timeout: 10
      MemorySize: 128
      Code:
        S3Bucket: !Ref LambdaCodeBucket
        S3Key: !Ref LambdaCodeKey
      Environment:
        Variables:
          CONTRACTS_BUCKET: !Ref ContractsBucket
          CONTRACTS_TABLE: !Ref ContractsTable
          ANALYSIS_TABLE: !Ref AnalysisTable

  NotifyUserFunction:
    Type: AWS::Lambda::Function
    Properties:
      FunctionName: !Sub '${ProjectName}-NotifyUser${NameSuffix}'
      Runtime: python3.11
      Handler: notify_user.lambda_handler
      Role: !GetAtt RentGuardLambdaRole.Arn
      Timeout: 3
      MemorySize: 128
      Code:
        S3Bucket: !Ref LambdaCodeBucket
        S3Key: !Ref LambdaCodeKey
      Environment:
        Variables:
          SENDER_EMAIL: !Ref SenderEmail
          USER_POOL_ID: !Ref UserPool

  ErrorHandlerFunction:
    Type: AWS::Lambda::Function
    Properties:
      FunctionName: !Sub '${ProjectName}-ErrorHandler${NameSuffix}'
      Runtime: python3.11
      Handler: error_handler.lambda_handler
      Role: !GetAtt RentGuardLambdaRole.Arn
      Timeout: 3
      MemorySize: 128
      Code:
        S3Bucket: !Ref LambdaCodeBucket
        S3Key: !Ref LambdaCodeKey
      Environment:
        Variables:
          CONTRACTS_TABLE: !Ref ContractsTable
          ANALYSIS_TABLE: !Ref AnalysisTable

  GetUploadUrlFunction:
    Type: AWS::Lambda::Function
    Properties:
      FunctionName: !Sub '${ProjectName}-GetUploadUrl${NameSuffix}'
      Runtime: python3.11
      Handler: get_upload_url.lambda_handler
      Role: !GetAtt RentGuardLambdaRole.Arn
      Timeout: 3
      MemorySize: 128
      Code:
        S3Bucket: !Ref LambdaCodeBucket
        S3Key: !Ref LambdaCodeKey
      Environment:
        Variables:
          CONTRACTS_BUCKET: !Ref ContractsBucket
          CONTRACTS_TABLE: !Ref ContractsTable
          USER_CONSENT_TABLE: !Ref UserConsentTable
          STRIPE_API_URL: !Ref StripeApiUrl
          PAYMENT_INTERNAL_API_KEY: !Ref PaymentInternalApiKey

  GetContractsFunction:
    Type: AWS::Lambda::Function
    Properties:
      FunctionName: !Sub '${ProjectName}-GetContracts${NameSuffix}'
      Runtime: python3.11
      Handler: get_user_contracts.lambda_handler
      Role: !GetAtt RentGuardLambdaRole.Arn
      Timeout: 3
      MemorySize: 128
      Code:
        S3Bucket: !Ref LambdaCodeBucket
        S3Key: !Ref LambdaCodeKey
      Environment:
        Variables:
          CONTRACTS_TABLE: !Ref ContractsTable
          ANALYSIS_TABLE: !Ref AnalysisTable

  GetAnalysisFunction:
    Type: AWS::Lambda::Function
    Properties:
      FunctionName: !Sub '${ProjectName}-GetAnalysis${NameSuffix}'
      Runtime: python3.11
      Handler: get_analysis_result.lambda_handler
      Role: !GetAtt RentGuardLambdaRole.Arn
      Timeout: 3
      MemorySize: 128
      Code:
        S3Bucket: !Ref LambdaCodeBucket
        S3Key: !Ref LambdaCodeKey
      Environment:
        Variables:
          ANALYSIS_TABLE: !Ref AnalysisTable

  ConsultClauseFunction:
    Type: AWS::Lambda::Function
    Properties:
      FunctionName: !Sub '${ProjectName}-ConsultClause${NameSuffix}'
      Runtime: python3.11
      Handler: consult_clause.lambda_handler
      Role: !GetAtt RentGuardLambdaRole.Arn
      Timeout: 60
      MemorySize: 256
      Code:
        S3Bucket: !Ref LambdaCodeBucket
        S3Key: !Ref LambdaCodeKey
      Environment:
        Variables:
          CONTRACTS_TABLE: !Ref ContractsTable

  AskContractQuestionFunction:
    Type: AWS::Lambda::Function
    Properties:
      FunctionName: !Sub '${ProjectName}-AskContractQuestion${NameSuffix}'
      Runtime: python3.11
      Handler: ask_contract_question.lambda_handler
      Role: !GetAtt RentGuardLambdaRole.Arn
      Timeout: 60
      MemorySize: 256
      Code:
        S3Bucket: !Ref LambdaCodeBucket
        S3Key: !Ref LambdaCodeKey
      Environment:
        Variables:
          ANALYSIS_TABLE: !Ref AnalysisTable
          CHAT_HISTORY_TABLE: !Ref ContractChatHistoryTable
          MODEL_ID: us.anthropic.claude-haiku-4-5-20251001-v1:0

  GetContractChatHistoryFunction:
    Type: AWS::Lambda::Function
    Properties:
      FunctionName: !Sub '${ProjectName}-GetContractChatHistory${NameSuffix}'
      Runtime: python3.11
      Handler: get_contract_chat_history.lambda_handler
      Role: !GetAtt RentGuardLambdaRole.Arn
      Timeout: 20
      MemorySize: 128
      Code:
        S3Bucket: !Ref LambdaCodeBucket
        S3Key: !Ref LambdaCodeKey
      Environment:
        Variables:
          ANALYSIS_TABLE: !Ref AnalysisTable
          CHAT_HISTORY_TABLE: !Ref ContractChatHistoryTable

  ClearContractChatHistoryFunction:
    Type: AWS::Lambda::Function
    Properties:
      FunctionName: !Sub '${ProjectName}-ClearContractChatHistory${NameSuffix}'
      Runtime: python3.11
      Handler: clear_contract_chat_history.lambda_handler
      Role: !GetAtt RentGuardLambdaRole.Arn
      Timeout: 20
      MemorySize: 128
      Code:
        S3Bucket: !Ref LambdaCodeBucket
        S3Key: !Ref LambdaCodeKey
      Environment:
        Variables:
          ANALYSIS_TABLE: !Ref AnalysisTable
          CHAT_HISTORY_TABLE: !Ref ContractChatHistoryTable

  SaveEditedFunction:
    Type: AWS::Lambda::Function
    Properties:
      FunctionName: !Sub '${ProjectName}-SaveEdited${NameSuffix}'
      Runtime: python3.11
      Handler: save_edited_contract.lambda_handler
      Role: !GetAtt RentGuardLambdaRole.Arn
      Timeout: 15
      MemorySize: 128
      Code:
        S3Bucket: !Ref LambdaCodeBucket
        S3Key: !Ref LambdaCodeKey
      Environment:
        Variables:
          CONTRACTS_BUCKET: !Ref ContractsBucket
          CONTRACTS_TABLE: !Ref ContractsTable

  RenameContractFunction:
    Type: AWS::Lambda::Function
    Properties:
      FunctionName: !Sub '${ProjectName}-RenameContract${NameSuffix}'
      Runtime: python3.11
      Handler: rename_contract.lambda_handler
      Role: !GetAtt RentGuardLambdaRole.Arn
      Timeout: 3
      MemorySize: 128
      Code:
        S3Bucket: !Ref LambdaCodeBucket
        S3Key: !Ref LambdaCodeKey
      Environment:
        Variables:
          CONTRACTS_TABLE: !Ref ContractsTable
          ANALYSIS_TABLE: !Ref AnalysisTable

  DeleteContractFunction:
    Type: AWS::Lambda::Function
    Properties:
      FunctionName: !Sub '${ProjectName}-DeleteContract${NameSuffix}'
      Runtime: python3.11
      Handler: delete_contract.lambda_handler
      Role: !GetAtt RentGuardLambdaRole.Arn
      Timeout: 3
      MemorySize: 128
      Code:
        S3Bucket: !Ref LambdaCodeBucket
        S3Key: !Ref LambdaCodeKey
      Environment:
        Variables:
          CONTRACTS_BUCKET: !Ref ContractsBucket
          CONTRACTS_TABLE: !Ref ContractsTable
          ANALYSIS_TABLE: !Ref AnalysisTable

  CreateTicketFunction:
    Type: AWS::Lambda::Function
    Properties:
      FunctionName: !Sub '${ProjectName}-CreateTicket${NameSuffix}'
      Runtime: python3.11
      Handler: CreateSupportTicket.lambda_handler
      Role: !GetAtt RentGuardLambdaRole.Arn
      Timeout: 3
      MemorySize: 128
      Code:
        S3Bucket: !Ref LambdaCodeBucket
        S3Key: !Ref LambdaCodeKey
      Environment:
        Variables:
          SENDER_EMAIL: !Ref SenderEmail
          SUPPORT_TEAM_EMAIL: !Ref SenderEmail
          SUPPORT_TICKETS_TABLE: !Ref SupportTicketsTable

  ListUsersFunction:
    Type: AWS::Lambda::Function
    Properties:
      FunctionName: !Sub '${ProjectName}-ListUsers${NameSuffix}'
      Runtime: python3.11
      Handler: list_users.lambda_handler
      Role: !GetAtt RentGuardLambdaRole.Arn
      Timeout: 30
      MemorySize: 256
      Code:
        S3Bucket: !Ref LambdaCodeBucket
        S3Key: !Ref LambdaCodeKey
      Environment:
        Variables:
          USER_POOL_ID: !Ref UserPool

  DisableUserFunction:
    Type: AWS::Lambda::Function
    Properties:
      FunctionName: !Sub '${ProjectName}-DisableUser${NameSuffix}'
      Runtime: python3.11
      Handler: disable_user.lambda_handler
      Role: !GetAtt RentGuardLambdaRole.Arn
      Timeout: 30
      MemorySize: 256
      Code:
        S3Bucket: !Ref LambdaCodeBucket
        S3Key: !Ref LambdaCodeKey
      Environment:
        Variables:
          USER_POOL_ID: !Ref UserPool
          SENDER_EMAIL: !Ref SenderEmail

  EnableUserFunction:
    Type: AWS::Lambda::Function
    Properties:
      FunctionName: !Sub '${ProjectName}-EnableUser${NameSuffix}'
      Runtime: python3.11
      Handler: enable_user.lambda_handler
      Role: !GetAtt RentGuardLambdaRole.Arn
      Timeout: 30
      MemorySize: 256
      Code:
        S3Bucket: !Ref LambdaCodeBucket
        S3Key: !Ref LambdaCodeKey
      Environment:
        Variables:
          USER_POOL_ID: !Ref UserPool

  DeleteUserFunction:
    Type: AWS::Lambda::Function
    Properties:
      FunctionName: !Sub '${ProjectName}-DeleteUser${NameSuffix}'
      Runtime: python3.11
      Handler: delete_user.lambda_handler
      Role: !GetAtt RentGuardLambdaRole.Arn
      Timeout: 30
      MemorySize: 256
      Code:
        S3Bucket: !Ref LambdaCodeBucket
        S3Key: !Ref LambdaCodeKey
      Environment:
        Variables:
          USER_POOL_ID: !Ref UserPool

  GetSystemStatsFunction:
    Type: AWS::Lambda::Function
    Properties:
      FunctionName: !Sub '${ProjectName}-GetSystemStats${NameSuffix}'
      Runtime: python3.11
      Handler: get_system_stats.lambda_handler
      Role: !GetAtt RentGuardLambdaRole.Arn
      Timeout: 30
      MemorySize: 256
      Code:
        S3Bucket: !Ref LambdaCodeBucket
        S3Key: !Ref LambdaCodeKey
      Environment:
        Variables:
          USER_POOL_ID: !Ref UserPool
          CONTRACTS_TABLE: !Ref ContractsTable
          ANALYSIS_TABLE: !Ref AnalysisTable

  CheckUserFunction:
    Type: AWS::Lambda::Function
    Properties:
      FunctionName: !Sub '${ProjectName}-CheckUser${NameSuffix}'
      Runtime: python3.11
      Handler: check_user.lambda_handler
      Role: !GetAtt RentGuardLambdaRole.Arn
      Timeout: 10
      MemorySize: 128
      Code:
        S3Bucket: !Ref LambdaCodeBucket
        S3Key: !Ref LambdaCodeKey
      Environment:
        Variables:
          USER_POOL_ID: !Ref UserPool

  AutoVerifySESFunction:
    Type: AWS::Lambda::Function
    Properties:
      FunctionName: !Sub '${ProjectName}-AutoVerifySES${NameSuffix}'
      Runtime: python3.11
      Handler: AutoVerifySES.lambda_handler
      Role: !GetAtt RentGuardLambdaRole.Arn
      Timeout: 3
      MemorySize: 128
      Code:
        S3Bucket: !Ref LambdaCodeBucket
        S3Key: !Ref LambdaCodeKey

  VerifySesOnLoginFunction:
    Type: AWS::Lambda::Function
    Properties:
      FunctionName: !Sub '${ProjectName}-VerifySesOnLogin${NameSuffix}'
      Runtime: python3.11
      Handler: verify_ses_on_login.lambda_handler
      Role: !GetAtt RentGuardLambdaRole.Arn
      Timeout: 5
      MemorySize: 128
      Code:
        S3Bucket: !Ref LambdaCodeBucket
        S3Key: !Ref LambdaCodeKey
      Environment:
        Variables:
          USER_POOL_ID: !Ref UserPool

  LambdaPermissionCognitoAutoVerify:
    Type: AWS::Lambda::Permission
    Properties:
      FunctionName: !GetAtt AutoVerifySESFunction.Arn
      Action: lambda:InvokeFunction
      Principal: cognito-idp.amazonaws.com
      SourceArn: !GetAtt UserPool.Arn

  LambdaPermissionCognitoVerifySesOnLogin:
    Type: AWS::Lambda::Permission
    Properties:
      FunctionName: !GetAtt VerifySesOnLoginFunction.Arn
      Action: lambda:InvokeFunction
      Principal: cognito-idp.amazonaws.com
      SourceArn: !GetAtt UserPool.Arn

  # ---------------------------------------------------------------------------
  # STEP FUNCTIONS
  # ---------------------------------------------------------------------------
  ContractWorkflow:
    Type: AWS::StepFunctions::StateMachine
    Properties:
      StateMachineName: !Sub '${ProjectName}-ContractAnalysisWorkflow${NameSuffix}'
      RoleArn: !GetAtt StepFunctionsRole.Arn
      DefinitionString: !Sub |-
        {
          "Comment": "RentGuard 360 - Contract Analysis Workflow",
          "StartAt": "AzureOCR",
          "States": {
            "AzureOCR": {
              "Type": "Task",
              "Resource": "${AzureOCRFunction.Arn}",
              "Next": "PrivacyShield",
              "Catch": [{"ErrorEquals": ["States.ALL"], "ResultPath": "$.error", "Next": "ErrorHandler"}]
            },
            "PrivacyShield": {
              "Type": "Task",
              "Resource": "${PrivacyShieldFunction.Arn}",
              "Next": "AIAnalyzer",
              "Catch": [{"ErrorEquals": ["States.ALL"], "ResultPath": "$.error", "Next": "ErrorHandler"}]
            },
            "AIAnalyzer": {
              "Type": "Task",
              "Resource": "${AIAnalyzerFunction.Arn}",
              "Next": "SaveResults",
              "Catch": [{"ErrorEquals": ["States.ALL"], "ResultPath": "$.error", "Next": "ErrorHandler"}]
            },
            "SaveResults": {
              "Type": "Task",
              "Resource": "${SaveResultsFunction.Arn}",
              "Next": "NotifyUser",
              "Catch": [{"ErrorEquals": ["States.ALL"], "ResultPath": "$.error", "Next": "ErrorHandler"}]
            },
            "NotifyUser": {
              "Type": "Task",
              "Resource": "${NotifyUserFunction.Arn}",
              "End": true,
              "Catch": [{"ErrorEquals": ["States.ALL"], "ResultPath": "$.error", "Next": "ErrorHandler"}]
            },
            "ErrorHandler": {
              "Type": "Task",
              "Resource": "${ErrorHandlerFunction.Arn}",
              "End": true
            }
          }
        }

  # ---------------------------------------------------------------------------
  # EVENTBRIDGE
  # ---------------------------------------------------------------------------
  S3EventRule:
    Type: AWS::Events::Rule
    Properties:
      Name: !Sub '${ProjectName}-S3ToStepFunctions${NameSuffix}'
      EventPattern:
        source: [aws.s3]
        detail-type: [Object Created]
        detail:
          bucket:
            name: [!Ref ContractsBucket]
          object:
            key: [{prefix: 'uploads/'}]
      State: ENABLED
      Targets:
        - Id: StepFunctionsTarget
          Arn: !Ref ContractWorkflow
          RoleArn: !GetAtt EventBridgeRole.Arn
          InputTransformer:
            InputTemplate: '{"bucket": <bucket>, "key": <key>}'
            InputPathsMap:
              bucket: "$.detail.bucket.name"
              key: "$.detail.object.key"

  # ---------------------------------------------------------------------------
  # CLOUDFRONT & WAF
  # ---------------------------------------------------------------------------
  WAFWebACL:
    Type: AWS::WAFv2::WebACL
    Properties:
      Name: !Sub '${ProjectName}-WAF${NameSuffix}'
      Scope: CLOUDFRONT
      DefaultAction: { Allow: {} }
      VisibilityConfig:
        SampledRequestsEnabled: true
        CloudWatchMetricsEnabled: true
        MetricName: RentGuardWAF
      Rules:
        - Name: AWS-AWSManagedRulesCommonRuleSet
          Priority: 0
          Statement:
            ManagedRuleGroupStatement:
              VendorName: AWS
              Name: AWSManagedRulesCommonRuleSet
          OverrideAction: { None: {} }
          VisibilityConfig:
            SampledRequestsEnabled: true
            CloudWatchMetricsEnabled: true
            MetricName: CommonRuleSet
        - Name: AWS-AWSManagedRulesKnownBadInputsRuleSet
          Priority: 1
          Statement:
            ManagedRuleGroupStatement:
              VendorName: AWS
              Name: AWSManagedRulesKnownBadInputsRuleSet
          OverrideAction: { None: {} }
          VisibilityConfig:
            SampledRequestsEnabled: true
            CloudWatchMetricsEnabled: true
            MetricName: BadInputsRuleSet

  CloudFrontOriginAccessControl:
    Type: AWS::CloudFront::OriginAccessControl
    Properties:
      OriginAccessControlConfig:
        Name: !Sub '${ProjectName}-OAC${NameSuffix}'
        OriginAccessControlOriginType: s3
        SigningBehavior: always
        SigningProtocol: sigv4

  CloudFrontDistribution:
    Type: AWS::CloudFront::Distribution
    Properties:
      DistributionConfig:
        Enabled: true
        Comment: RentGuard 360 Frontend
        DefaultRootObject: index.html
        WebACLId: !GetAtt WAFWebACL.Arn
        Origins:
          - Id: S3Origin
            DomainName: !GetAtt FrontendBucket.RegionalDomainName
            S3OriginConfig:
              OriginAccessIdentity: ''
            OriginAccessControlId: !Ref CloudFrontOriginAccessControl
        DefaultCacheBehavior:
          TargetOriginId: S3Origin
          ViewerProtocolPolicy: redirect-to-https
          AllowedMethods: [GET, HEAD, OPTIONS]
          CachedMethods: [GET, HEAD, OPTIONS]
          ForwardedValues:
            QueryString: false
            Cookies: { Forward: none }
        CustomErrorResponses:
          - ErrorCode: 403
            ResponseCode: 200
            ResponsePagePath: /index.html
          - ErrorCode: 404
            ResponseCode: 200
            ResponsePagePath: /index.html
        ViewerCertificate:
          CloudFrontDefaultCertificate: true

  # ---------------------------------------------------------------------------
  # API GATEWAY
  # ---------------------------------------------------------------------------
  RestApi:
    Type: AWS::ApiGateway::RestApi
    Properties:
      Name: !Sub '${ProjectName}-API${NameSuffix}'
      Description: RentGuard 360 REST API
      EndpointConfiguration:
        Types: [REGIONAL]

  CognitoAuthorizer:
    Type: AWS::ApiGateway::Authorizer
    Properties:
      Name: CognitoAuthorizer
      Type: COGNITO_USER_POOLS
      RestApiId: !Ref RestApi
      IdentitySource: method.request.header.Authorization
      ProviderARNs:
        - !GetAtt UserPool.Arn

  # /upload
  UploadResource:
    Type: AWS::ApiGateway::Resource
    Properties:
      RestApiId: !Ref RestApi
      ParentId: !GetAtt RestApi.RootResourceId
      PathPart: upload

  # /auth
  AuthResource:
    Type: AWS::ApiGateway::Resource
    Properties:
      RestApiId: !Ref RestApi
      ParentId: !GetAtt RestApi.RootResourceId
      PathPart: auth

  # /auth/check-user
  CheckUserResource:
    Type: AWS::ApiGateway::Resource
    Properties:
      RestApiId: !Ref RestApi
      ParentId: !Ref AuthResource
      PathPart: check-user

  CheckUserGetMethod:
    Type: AWS::ApiGateway::Method
    Properties:
      RestApiId: !Ref RestApi
      ResourceId: !Ref CheckUserResource
      HttpMethod: GET
      AuthorizationType: NONE
      ApiKeyRequired: true
      Integration:
        Type: AWS_PROXY
        IntegrationHttpMethod: POST
        Uri: !Sub 'arn:aws:apigateway:${AWS::Region}:lambda:path/2015-03-31/functions/${CheckUserFunction.Arn}/invocations'

  CheckUserOptionsMethod:
    Type: AWS::ApiGateway::Method
    Properties:
      RestApiId: !Ref RestApi
      ResourceId: !Ref CheckUserResource
      HttpMethod: OPTIONS
      AuthorizationType: NONE
      Integration:
        Type: MOCK
        RequestTemplates:
          application/json: '{"statusCode": 200}'
        IntegrationResponses:
          - StatusCode: '200'
            ResponseParameters:
              method.response.header.Access-Control-Allow-Headers: "'Content-Type,X-Amz-Date,Authorization,X-Api-Key,X-Amz-Security-Token'"
              method.response.header.Access-Control-Allow-Methods: "'GET,OPTIONS'"
              method.response.header.Access-Control-Allow-Origin: "'*'"
      MethodResponses:
        - StatusCode: '200'
          ResponseParameters:
            method.response.header.Access-Control-Allow-Headers: true
            method.response.header.Access-Control-Allow-Methods: true
            method.response.header.Access-Control-Allow-Origin: true

  UploadMethod:
    Type: AWS::ApiGateway::Method
    Properties:
      RestApiId: !Ref RestApi
      ResourceId: !Ref UploadResource
      HttpMethod: GET
      AuthorizationType: COGNITO_USER_POOLS
      AuthorizerId: !Ref CognitoAuthorizer
      Integration:
        Type: AWS_PROXY
        IntegrationHttpMethod: POST
        Uri: !Sub 'arn:aws:apigateway:${AWS::Region}:lambda:path/2015-03-31/functions/${GetUploadUrlFunction.Arn}/invocations'

  UploadOptionsMethod:
    Type: AWS::ApiGateway::Method
    Properties:
      RestApiId: !Ref RestApi
      ResourceId: !Ref UploadResource
      HttpMethod: OPTIONS
      AuthorizationType: NONE
      Integration:
        Type: MOCK
        RequestTemplates:
          application/json: '{"statusCode": 200}'
        IntegrationResponses:
          - StatusCode: '200'
            ResponseParameters:
              method.response.header.Access-Control-Allow-Headers: "'Content-Type,Authorization'"
              method.response.header.Access-Control-Allow-Methods: "'GET,OPTIONS'"
              method.response.header.Access-Control-Allow-Origin: "'*'"
      MethodResponses:
        - StatusCode: '200'
          ResponseParameters:
            method.response.header.Access-Control-Allow-Headers: true
            method.response.header.Access-Control-Allow-Methods: true
            method.response.header.Access-Control-Allow-Origin: true

  # /contracts
  ContractsResource:
    Type: AWS::ApiGateway::Resource
    Properties:
      RestApiId: !Ref RestApi
      ParentId: !GetAtt RestApi.RootResourceId
      PathPart: contracts

  ContractsGetMethod:
    Type: AWS::ApiGateway::Method
    Properties:
      RestApiId: !Ref RestApi
      ResourceId: !Ref ContractsResource
      HttpMethod: GET
      AuthorizationType: COGNITO_USER_POOLS
      AuthorizerId: !Ref CognitoAuthorizer
      Integration:
        Type: AWS_PROXY
        IntegrationHttpMethod: POST
        Uri: !Sub 'arn:aws:apigateway:${AWS::Region}:lambda:path/2015-03-31/functions/${GetContractsFunction.Arn}/invocations'

  ContractsDeleteMethod:
    Type: AWS::ApiGateway::Method
    Properties:
      RestApiId: !Ref RestApi
      ResourceId: !Ref ContractsResource
      HttpMethod: DELETE
      AuthorizationType: COGNITO_USER_POOLS
      AuthorizerId: !Ref CognitoAuthorizer
      Integration:
        Type: AWS_PROXY
        IntegrationHttpMethod: POST
        Uri: !Sub 'arn:aws:apigateway:${AWS::Region}:lambda:path/2015-03-31/functions/${DeleteContractFunction.Arn}/invocations'

  ContractsOptionsMethod:
    Type: AWS::ApiGateway::Method
    Properties:
      RestApiId: !Ref RestApi
      ResourceId: !Ref ContractsResource
      HttpMethod: OPTIONS
      AuthorizationType: NONE
      Integration:
        Type: MOCK
        RequestTemplates:
          application/json: '{"statusCode": 200}'
        IntegrationResponses:
          - StatusCode: '200'
            ResponseParameters:
              method.response.header.Access-Control-Allow-Headers: "'Content-Type,Authorization'"
              method.response.header.Access-Control-Allow-Methods: "'GET,DELETE,OPTIONS'"
              method.response.header.Access-Control-Allow-Origin: "'*'"
      MethodResponses:
        - StatusCode: '200'
          ResponseParameters:
            method.response.header.Access-Control-Allow-Headers: true
            method.response.header.Access-Control-Allow-Methods: true
            method.response.header.Access-Control-Allow-Origin: true

  # /contracts/rename
  ContractsRenameResource:
    Type: AWS::ApiGateway::Resource
    Properties:
      RestApiId: !Ref RestApi
      ParentId: !Ref ContractsResource
      PathPart: rename

  ContractsRenameMethod:
    Type: AWS::ApiGateway::Method
    Properties:
      RestApiId: !Ref RestApi
      ResourceId: !Ref ContractsRenameResource
      HttpMethod: POST
      AuthorizationType: COGNITO_USER_POOLS
      AuthorizerId: !Ref CognitoAuthorizer
      Integration:
        Type: AWS_PROXY
        IntegrationHttpMethod: POST
        Uri: !Sub 'arn:aws:apigateway:${AWS::Region}:lambda:path/2015-03-31/functions/${RenameContractFunction.Arn}/invocations'

  ContractsRenameOptionsMethod:
    Type: AWS::ApiGateway::Method
    Properties:
      RestApiId: !Ref RestApi
      ResourceId: !Ref ContractsRenameResource
      HttpMethod: OPTIONS
      AuthorizationType: NONE
      Integration:
        Type: MOCK
        RequestTemplates:
          application/json: '{"statusCode": 200}'
        IntegrationResponses:
          - StatusCode: '200'
            ResponseParameters:
              method.response.header.Access-Control-Allow-Headers: "'Content-Type,Authorization'"
              method.response.header.Access-Control-Allow-Methods: "'POST,OPTIONS'"
              method.response.header.Access-Control-Allow-Origin: "'*'"
      MethodResponses:
        - StatusCode: '200'
          ResponseParameters:
            method.response.header.Access-Control-Allow-Headers: true
            method.response.header.Access-Control-Allow-Methods: true
            method.response.header.Access-Control-Allow-Origin: true

  # /contracts/save-edited
  ContractsSaveResource:
    Type: AWS::ApiGateway::Resource
    Properties:
      RestApiId: !Ref RestApi
      ParentId: !Ref ContractsResource
      PathPart: save-edited

  ContractsSaveMethod:
    Type: AWS::ApiGateway::Method
    Properties:
      RestApiId: !Ref RestApi
      ResourceId: !Ref ContractsSaveResource
      HttpMethod: POST
      AuthorizationType: COGNITO_USER_POOLS
      AuthorizerId: !Ref CognitoAuthorizer
      Integration:
        Type: AWS_PROXY
        IntegrationHttpMethod: POST
        Uri: !Sub 'arn:aws:apigateway:${AWS::Region}:lambda:path/2015-03-31/functions/${SaveEditedFunction.Arn}/invocations'

  ContractsSaveOptionsMethod:
    Type: AWS::ApiGateway::Method
    Properties:
      RestApiId: !Ref RestApi
      ResourceId: !Ref ContractsSaveResource
      HttpMethod: OPTIONS
      AuthorizationType: NONE
      Integration:
        Type: MOCK
        RequestTemplates:
          application/json: '{"statusCode": 200}'
        IntegrationResponses:
          - StatusCode: '200'
            ResponseParameters:
              method.response.header.Access-Control-Allow-Headers: "'Content-Type,Authorization'"
              method.response.header.Access-Control-Allow-Methods: "'POST,OPTIONS'"
              method.response.header.Access-Control-Allow-Origin: "'*'"
      MethodResponses:
        - StatusCode: '200'
          ResponseParameters:
            method.response.header.Access-Control-Allow-Headers: true
            method.response.header.Access-Control-Allow-Methods: true
            method.response.header.Access-Control-Allow-Origin: true

  # /analysis
  AnalysisResource:
    Type: AWS::ApiGateway::Resource
    Properties:
      RestApiId: !Ref RestApi
      ParentId: !GetAtt RestApi.RootResourceId
      PathPart: analysis

  AnalysisGetMethod:
    Type: AWS::ApiGateway::Method
    Properties:
      RestApiId: !Ref RestApi
      ResourceId: !Ref AnalysisResource
      HttpMethod: GET
      AuthorizationType: COGNITO_USER_POOLS
      AuthorizerId: !Ref CognitoAuthorizer
      Integration:
        Type: AWS_PROXY
        IntegrationHttpMethod: POST
        Uri: !Sub 'arn:aws:apigateway:${AWS::Region}:lambda:path/2015-03-31/functions/${GetAnalysisFunction.Arn}/invocations'

  AnalysisOptionsMethod:
    Type: AWS::ApiGateway::Method
    Properties:
      RestApiId: !Ref RestApi
      ResourceId: !Ref AnalysisResource
      HttpMethod: OPTIONS
      AuthorizationType: NONE
      Integration:
        Type: MOCK
        RequestTemplates:
          application/json: '{"statusCode": 200}'
        IntegrationResponses:
          - StatusCode: '200'
            ResponseParameters:
              method.response.header.Access-Control-Allow-Headers: "'Content-Type,Authorization'"
              method.response.header.Access-Control-Allow-Methods: "'GET,OPTIONS'"
              method.response.header.Access-Control-Allow-Origin: "'*'"
      MethodResponses:
        - StatusCode: '200'
          ResponseParameters:
            method.response.header.Access-Control-Allow-Headers: true
            method.response.header.Access-Control-Allow-Methods: true
            method.response.header.Access-Control-Allow-Origin: true

  # /consult
  ConsultResource:
    Type: AWS::ApiGateway::Resource
    Properties:
      RestApiId: !Ref RestApi
      ParentId: !GetAtt RestApi.RootResourceId
      PathPart: consult

  ConsultMethod:
    Type: AWS::ApiGateway::Method
    Properties:
      RestApiId: !Ref RestApi
      ResourceId: !Ref ConsultResource
      HttpMethod: POST
      AuthorizationType: COGNITO_USER_POOLS
      AuthorizerId: !Ref CognitoAuthorizer
      Integration:
        Type: AWS_PROXY
        IntegrationHttpMethod: POST
        Uri: !Sub 'arn:aws:apigateway:${AWS::Region}:lambda:path/2015-03-31/functions/${ConsultClauseFunction.Arn}/invocations'

  ConsultOptionsMethod:
    Type: AWS::ApiGateway::Method
    Properties:
      RestApiId: !Ref RestApi
      ResourceId: !Ref ConsultResource
      HttpMethod: OPTIONS
      AuthorizationType: NONE
      Integration:
        Type: MOCK
        RequestTemplates:
          application/json: '{"statusCode": 200}'
        IntegrationResponses:
          - StatusCode: '200'
            ResponseParameters:
              method.response.header.Access-Control-Allow-Headers: "'Content-Type,Authorization'"
              method.response.header.Access-Control-Allow-Methods: "'POST,OPTIONS'"
              method.response.header.Access-Control-Allow-Origin: "'*'"
      MethodResponses:
        - StatusCode: '200'
          ResponseParameters:
            method.response.header.Access-Control-Allow-Headers: true
            method.response.header.Access-Control-Allow-Methods: true
            method.response.header.Access-Control-Allow-Origin: true

  # /contract-chat
  ContractChatResource:
    Type: AWS::ApiGateway::Resource
    Properties:
      RestApiId: !Ref RestApi
      ParentId: !GetAtt RestApi.RootResourceId
      PathPart: contract-chat

  # /contract-chat/ask
  ContractChatAskResource:
    Type: AWS::ApiGateway::Resource
    Properties:
      RestApiId: !Ref RestApi
      ParentId: !Ref ContractChatResource
      PathPart: ask

  ContractChatAskMethod:
    Type: AWS::ApiGateway::Method
    Properties:
      RestApiId: !Ref RestApi
      ResourceId: !Ref ContractChatAskResource
      HttpMethod: POST
      AuthorizationType: COGNITO_USER_POOLS
      AuthorizerId: !Ref CognitoAuthorizer
      Integration:
        Type: AWS_PROXY
        IntegrationHttpMethod: POST
        Uri: !Sub 'arn:aws:apigateway:${AWS::Region}:lambda:path/2015-03-31/functions/${AskContractQuestionFunction.Arn}/invocations'

  ContractChatAskOptionsMethod:
    Type: AWS::ApiGateway::Method
    Properties:
      RestApiId: !Ref RestApi
      ResourceId: !Ref ContractChatAskResource
      HttpMethod: OPTIONS
      AuthorizationType: NONE
      Integration:
        Type: MOCK
        RequestTemplates:
          application/json: '{"statusCode": 200}'
        IntegrationResponses:
          - StatusCode: '200'
            ResponseParameters:
              method.response.header.Access-Control-Allow-Headers: "'Content-Type,Authorization'"
              method.response.header.Access-Control-Allow-Methods: "'POST,OPTIONS'"
              method.response.header.Access-Control-Allow-Origin: "'*'"
      MethodResponses:
        - StatusCode: '200'
          ResponseParameters:
            method.response.header.Access-Control-Allow-Headers: true
            method.response.header.Access-Control-Allow-Methods: true
            method.response.header.Access-Control-Allow-Origin: true

  # /contract-chat/history
  ContractChatHistoryResource:
    Type: AWS::ApiGateway::Resource
    Properties:
      RestApiId: !Ref RestApi
      ParentId: !Ref ContractChatResource
      PathPart: history

  ContractChatHistoryGetMethod:
    Type: AWS::ApiGateway::Method
    Properties:
      RestApiId: !Ref RestApi
      ResourceId: !Ref ContractChatHistoryResource
      HttpMethod: GET
      AuthorizationType: COGNITO_USER_POOLS
      AuthorizerId: !Ref CognitoAuthorizer
      Integration:
        Type: AWS_PROXY
        IntegrationHttpMethod: POST
        Uri: !Sub 'arn:aws:apigateway:${AWS::Region}:lambda:path/2015-03-31/functions/${GetContractChatHistoryFunction.Arn}/invocations'

  ContractChatHistoryDeleteMethod:
    Type: AWS::ApiGateway::Method
    Properties:
      RestApiId: !Ref RestApi
      ResourceId: !Ref ContractChatHistoryResource
      HttpMethod: DELETE
      AuthorizationType: COGNITO_USER_POOLS
      AuthorizerId: !Ref CognitoAuthorizer
      Integration:
        Type: AWS_PROXY
        IntegrationHttpMethod: POST
        Uri: !Sub 'arn:aws:apigateway:${AWS::Region}:lambda:path/2015-03-31/functions/${ClearContractChatHistoryFunction.Arn}/invocations'

  ContractChatHistoryOptionsMethod:
    Type: AWS::ApiGateway::Method
    Properties:
      RestApiId: !Ref RestApi
      ResourceId: !Ref ContractChatHistoryResource
      HttpMethod: OPTIONS
      AuthorizationType: NONE
      Integration:
        Type: MOCK
        RequestTemplates:
          application/json: '{"statusCode": 200}'
        IntegrationResponses:
          - StatusCode: '200'
            ResponseParameters:
              method.response.header.Access-Control-Allow-Headers: "'Content-Type,Authorization'"
              method.response.header.Access-Control-Allow-Methods: "'GET,DELETE,OPTIONS'"
              method.response.header.Access-Control-Allow-Origin: "'*'"
      MethodResponses:
        - StatusCode: '200'
          ResponseParameters:
            method.response.header.Access-Control-Allow-Headers: true
            method.response.header.Access-Control-Allow-Methods: true
            method.response.header.Access-Control-Allow-Origin: true

  # /contact
  ContactResource:
    Type: AWS::ApiGateway::Resource
    Properties:
      RestApiId: !Ref RestApi
      ParentId: !GetAtt RestApi.RootResourceId
      PathPart: contact

  ContactMethod:
    Type: AWS::ApiGateway::Method
    Properties:
      RestApiId: !Ref RestApi
      ResourceId: !Ref ContactResource
      HttpMethod: POST
      AuthorizationType: COGNITO_USER_POOLS
      AuthorizerId: !Ref CognitoAuthorizer
      Integration:
        Type: AWS_PROXY
        IntegrationHttpMethod: POST
        Uri: !Sub 'arn:aws:apigateway:${AWS::Region}:lambda:path/2015-03-31/functions/${CreateTicketFunction.Arn}/invocations'

  ContactOptionsMethod:
    Type: AWS::ApiGateway::Method
    Properties:
      RestApiId: !Ref RestApi
      ResourceId: !Ref ContactResource
      HttpMethod: OPTIONS
      AuthorizationType: NONE
      Integration:
        Type: MOCK
        RequestTemplates:
          application/json: '{"statusCode": 200}'
        IntegrationResponses:
          - StatusCode: '200'
            ResponseParameters:
              method.response.header.Access-Control-Allow-Headers: "'Content-Type,Authorization'"
              method.response.header.Access-Control-Allow-Methods: "'POST,OPTIONS'"
              method.response.header.Access-Control-Allow-Origin: "'*'"
      MethodResponses:
        - StatusCode: '200'
          ResponseParameters:
            method.response.header.Access-Control-Allow-Headers: true
            method.response.header.Access-Control-Allow-Methods: true
            method.response.header.Access-Control-Allow-Origin: true

  # /admin
  AdminResource:
    Type: AWS::ApiGateway::Resource
    Properties:
      RestApiId: !Ref RestApi
      ParentId: !GetAtt RestApi.RootResourceId
      PathPart: admin

  # /admin/stats
  AdminStatsResource:
    Type: AWS::ApiGateway::Resource
    Properties:
      RestApiId: !Ref RestApi
      ParentId: !Ref AdminResource
      PathPart: stats

  AdminStatsMethod:
    Type: AWS::ApiGateway::Method
    Properties:
      RestApiId: !Ref RestApi
      ResourceId: !Ref AdminStatsResource
      HttpMethod: GET
      AuthorizationType: COGNITO_USER_POOLS
      AuthorizerId: !Ref CognitoAuthorizer
      Integration:
        Type: AWS_PROXY
        IntegrationHttpMethod: POST
        Uri: !Sub 'arn:aws:apigateway:${AWS::Region}:lambda:path/2015-03-31/functions/${GetSystemStatsFunction.Arn}/invocations'

  AdminStatsOptionsMethod:
    Type: AWS::ApiGateway::Method
    Properties:
      RestApiId: !Ref RestApi
      ResourceId: !Ref AdminStatsResource
      HttpMethod: OPTIONS
      AuthorizationType: NONE
      Integration:
        Type: MOCK
        RequestTemplates:
          application/json: '{"statusCode": 200}'
        IntegrationResponses:
          - StatusCode: '200'
            ResponseParameters:
              method.response.header.Access-Control-Allow-Headers: "'Content-Type,Authorization'"
              method.response.header.Access-Control-Allow-Methods: "'GET,OPTIONS'"
              method.response.header.Access-Control-Allow-Origin: "'*'"
      MethodResponses:
        - StatusCode: '200'
          ResponseParameters:
            method.response.header.Access-Control-Allow-Headers: true
            method.response.header.Access-Control-Allow-Methods: true
            method.response.header.Access-Control-Allow-Origin: true

  # /admin/users
  AdminUsersResource:
    Type: AWS::ApiGateway::Resource
    Properties:
      RestApiId: !Ref RestApi
      ParentId: !Ref AdminResource
      PathPart: users

  AdminUsersGetMethod:
    Type: AWS::ApiGateway::Method
    Properties:
      RestApiId: !Ref RestApi
      ResourceId: !Ref AdminUsersResource
      HttpMethod: GET
      AuthorizationType: COGNITO_USER_POOLS
      AuthorizerId: !Ref CognitoAuthorizer
      Integration:
        Type: AWS_PROXY
        IntegrationHttpMethod: POST
        Uri: !Sub 'arn:aws:apigateway:${AWS::Region}:lambda:path/2015-03-31/functions/${ListUsersFunction.Arn}/invocations'

  AdminUsersOptionsMethod:
    Type: AWS::ApiGateway::Method
    Properties:
      RestApiId: !Ref RestApi
      ResourceId: !Ref AdminUsersResource
      HttpMethod: OPTIONS
      AuthorizationType: NONE
      Integration:
        Type: MOCK
        RequestTemplates:
          application/json: '{"statusCode": 200}'
        IntegrationResponses:
          - StatusCode: '200'
            ResponseParameters:
              method.response.header.Access-Control-Allow-Headers: "'Content-Type,Authorization'"
              method.response.header.Access-Control-Allow-Methods: "'GET,OPTIONS'"
              method.response.header.Access-Control-Allow-Origin: "'*'"
      MethodResponses:
        - StatusCode: '200'
          ResponseParameters:
            method.response.header.Access-Control-Allow-Headers: true
            method.response.header.Access-Control-Allow-Methods: true
            method.response.header.Access-Control-Allow-Origin: true

  # /admin/users/disable
  AdminUsersDisableResource:
    Type: AWS::ApiGateway::Resource
    Properties:
      RestApiId: !Ref RestApi
      ParentId: !Ref AdminUsersResource
      PathPart: disable

  AdminUsersDisableMethod:
    Type: AWS::ApiGateway::Method
    Properties:
      RestApiId: !Ref RestApi
      ResourceId: !Ref AdminUsersDisableResource
      HttpMethod: POST
      AuthorizationType: COGNITO_USER_POOLS
      AuthorizerId: !Ref CognitoAuthorizer
      Integration:
        Type: AWS_PROXY
        IntegrationHttpMethod: POST
        Uri: !Sub 'arn:aws:apigateway:${AWS::Region}:lambda:path/2015-03-31/functions/${DisableUserFunction.Arn}/invocations'

  AdminUsersDisableOptionsMethod:
    Type: AWS::ApiGateway::Method
    Properties:
      RestApiId: !Ref RestApi
      ResourceId: !Ref AdminUsersDisableResource
      HttpMethod: OPTIONS
      AuthorizationType: NONE
      Integration:
        Type: MOCK
        RequestTemplates:
          application/json: '{"statusCode": 200}'
        IntegrationResponses:
          - StatusCode: '200'
            ResponseParameters:
              method.response.header.Access-Control-Allow-Headers: "'Content-Type,Authorization'"
              method.response.header.Access-Control-Allow-Methods: "'POST,OPTIONS'"
              method.response.header.Access-Control-Allow-Origin: "'*'"
      MethodResponses:
        - StatusCode: '200'
          ResponseParameters:
            method.response.header.Access-Control-Allow-Headers: true
            method.response.header.Access-Control-Allow-Methods: true
            method.response.header.Access-Control-Allow-Origin: true

  # /admin/users/enable
  AdminUsersEnableResource:
    Type: AWS::ApiGateway::Resource
    Properties:
      RestApiId: !Ref RestApi
      ParentId: !Ref AdminUsersResource
      PathPart: enable

  AdminUsersEnableMethod:
    Type: AWS::ApiGateway::Method
    Properties:
      RestApiId: !Ref RestApi
      ResourceId: !Ref AdminUsersEnableResource
      HttpMethod: POST
      AuthorizationType: COGNITO_USER_POOLS
      AuthorizerId: !Ref CognitoAuthorizer
      Integration:
        Type: AWS_PROXY
        IntegrationHttpMethod: POST
        Uri: !Sub 'arn:aws:apigateway:${AWS::Region}:lambda:path/2015-03-31/functions/${EnableUserFunction.Arn}/invocations'

  AdminUsersEnableOptionsMethod:
    Type: AWS::ApiGateway::Method
    Properties:
      RestApiId: !Ref RestApi
      ResourceId: !Ref AdminUsersEnableResource
      HttpMethod: OPTIONS
      AuthorizationType: NONE
      Integration:
        Type: MOCK
        RequestTemplates:
          application/json: '{"statusCode": 200}'
        IntegrationResponses:
          - StatusCode: '200'
            ResponseParameters:
              method.response.header.Access-Control-Allow-Headers: "'Content-Type,Authorization'"
              method.response.header.Access-Control-Allow-Methods: "'POST,OPTIONS'"
              method.response.header.Access-Control-Allow-Origin: "'*'"
      MethodResponses:
        - StatusCode: '200'
          ResponseParameters:
            method.response.header.Access-Control-Allow-Headers: true
            method.response.header.Access-Control-Allow-Methods: true
            method.response.header.Access-Control-Allow-Origin: true

  # /admin/users/delete
  AdminUsersDeleteResource:
    Type: AWS::ApiGateway::Resource
    Properties:
      RestApiId: !Ref RestApi
      ParentId: !Ref AdminUsersResource
      PathPart: delete

  AdminUsersDeleteMethod:
    Type: AWS::ApiGateway::Method
    Properties:
      RestApiId: !Ref RestApi
      ResourceId: !Ref AdminUsersDeleteResource
      HttpMethod: DELETE
      AuthorizationType: COGNITO_USER_POOLS
      AuthorizerId: !Ref CognitoAuthorizer
      Integration:
        Type: AWS_PROXY
        IntegrationHttpMethod: POST
        Uri: !Sub 'arn:aws:apigateway:${AWS::Region}:lambda:path/2015-03-31/functions/${DeleteUserFunction.Arn}/invocations'

  AdminUsersDeleteOptionsMethod:
    Type: AWS::ApiGateway::Method
    Properties:
      RestApiId: !Ref RestApi
      ResourceId: !Ref AdminUsersDeleteResource
      HttpMethod: OPTIONS
      AuthorizationType: NONE
      Integration:
        Type: MOCK
        RequestTemplates:
          application/json: '{"statusCode": 200}'
        IntegrationResponses:
          - StatusCode: '200'
            ResponseParameters:
              method.response.header.Access-Control-Allow-Headers: "'Content-Type,Authorization'"
              method.response.header.Access-Control-Allow-Methods: "'DELETE,OPTIONS'"
              method.response.header.Access-Control-Allow-Origin: "'*'"
      MethodResponses:
        - StatusCode: '200'
          ResponseParameters:
            method.response.header.Access-Control-Allow-Headers: true
            method.response.header.Access-Control-Allow-Methods: true
            method.response.header.Access-Control-Allow-Origin: true

  # API Deployment
  ApiDeployment:
    Type: AWS::ApiGateway::Deployment
    DependsOn:
      - UploadMethod
      - ContractsGetMethod
      - ContractsDeleteMethod
      - ContractsRenameMethod
      - ContractsSaveMethod
      - AnalysisGetMethod
      - ConsultMethod
      - ContactMethod
      - AdminStatsMethod
      - AdminUsersGetMethod
      - AdminUsersDisableMethod
      - AdminUsersEnableMethod
      - AdminUsersDeleteMethod
      - CheckUserGetMethod
      - CheckUserOptionsMethod
      - ContractChatAskMethod
      - ContractChatAskOptionsMethod
      - ContractChatHistoryGetMethod
      - ContractChatHistoryDeleteMethod
      - ContractChatHistoryOptionsMethod
    Properties:
      RestApiId: !Ref RestApi

  # API Security (Rate Limiting & API Key)
  CheckUserApiKey:
    Type: AWS::ApiGateway::ApiKey
    Properties:
      Name: !Sub '${ProjectName}-CheckUserKey${NameSuffix}'
      Enabled: true
      GenerateDistinctId: false

  CheckUserUsagePlan:
    Type: AWS::ApiGateway::UsagePlan
    Properties:
      UsagePlanName: !Sub '${ProjectName}-CheckUserPlan${NameSuffix}'
      Description: Rate limiting for user existence checks
      ApiStages:
        - ApiId: !Ref RestApi
          Stage: !Ref Environment
      Throttle:
        RateLimit: 5
        BurstLimit: 10

  CheckUserUsagePlanKey:
    Type: AWS::ApiGateway::UsagePlanKey
    Properties:
      KeyId: !Ref CheckUserApiKey
      KeyType: API_KEY
      UsagePlanId: !Ref CheckUserUsagePlan

  ApiStage:
    Type: AWS::ApiGateway::Stage
    Properties:
      StageName: !Ref Environment
      RestApiId: !Ref RestApi
      DeploymentId: !Ref ApiDeployment

  # Lambda Permissions for API Gateway
  LambdaPermissionGetUploadUrl:
    Type: AWS::Lambda::Permission
    Properties:
      FunctionName: !GetAtt GetUploadUrlFunction.Arn
      Action: lambda:InvokeFunction
      Principal: apigateway.amazonaws.com
      SourceArn: !Sub 'arn:aws:execute-api:${AWS::Region}:${AWS::AccountId}:${RestApi}/*/*/*'

  LambdaPermissionGetContracts:
    Type: AWS::Lambda::Permission
    Properties:
      FunctionName: !GetAtt GetContractsFunction.Arn
      Action: lambda:InvokeFunction
      Principal: apigateway.amazonaws.com
      SourceArn: !Sub 'arn:aws:execute-api:${AWS::Region}:${AWS::AccountId}:${RestApi}/*/*/*'

  LambdaPermissionDeleteContract:
    Type: AWS::Lambda::Permission
    Properties:
      FunctionName: !GetAtt DeleteContractFunction.Arn
      Action: lambda:InvokeFunction
      Principal: apigateway.amazonaws.com
      SourceArn: !Sub 'arn:aws:execute-api:${AWS::Region}:${AWS::AccountId}:${RestApi}/*/*/*'

  LambdaPermissionRenameContract:
    Type: AWS::Lambda::Permission
    Properties:
      FunctionName: !GetAtt RenameContractFunction.Arn
      Action: lambda:InvokeFunction
      Principal: apigateway.amazonaws.com
      SourceArn: !Sub 'arn:aws:execute-api:${AWS::Region}:${AWS::AccountId}:${RestApi}/*/*/*'

  LambdaPermissionSaveEdited:
    Type: AWS::Lambda::Permission
    Properties:
      FunctionName: !GetAtt SaveEditedFunction.Arn
      Action: lambda:InvokeFunction
      Principal: apigateway.amazonaws.com
      SourceArn: !Sub 'arn:aws:execute-api:${AWS::Region}:${AWS::AccountId}:${RestApi}/*/*/*'

  LambdaPermissionGetAnalysis:
    Type: AWS::Lambda::Permission
    Properties:
      FunctionName: !GetAtt GetAnalysisFunction.Arn
      Action: lambda:InvokeFunction
      Principal: apigateway.amazonaws.com
      SourceArn: !Sub 'arn:aws:execute-api:${AWS::Region}:${AWS::AccountId}:${RestApi}/*/*/*'

  LambdaPermissionConsult:
    Type: AWS::Lambda::Permission
    Properties:
      FunctionName: !GetAtt ConsultClauseFunction.Arn
      Action: lambda:InvokeFunction
      Principal: apigateway.amazonaws.com
      SourceArn: !Sub 'arn:aws:execute-api:${AWS::Region}:${AWS::AccountId}:${RestApi}/*/*/*'

  LambdaPermissionAskContractQuestion:
    Type: AWS::Lambda::Permission
    Properties:
      FunctionName: !GetAtt AskContractQuestionFunction.Arn
      Action: lambda:InvokeFunction
      Principal: apigateway.amazonaws.com
      SourceArn: !Sub 'arn:aws:execute-api:${AWS::Region}:${AWS::AccountId}:${RestApi}/*/POST/contract-chat/ask'

  LambdaPermissionGetContractChatHistory:
    Type: AWS::Lambda::Permission
    Properties:
      FunctionName: !GetAtt GetContractChatHistoryFunction.Arn
      Action: lambda:InvokeFunction
      Principal: apigateway.amazonaws.com
      SourceArn: !Sub 'arn:aws:execute-api:${AWS::Region}:${AWS::AccountId}:${RestApi}/*/GET/contract-chat/history'

  LambdaPermissionClearContractChatHistory:
    Type: AWS::Lambda::Permission
    Properties:
      FunctionName: !GetAtt ClearContractChatHistoryFunction.Arn
      Action: lambda:InvokeFunction
      Principal: apigateway.amazonaws.com
      SourceArn: !Sub 'arn:aws:execute-api:${AWS::Region}:${AWS::AccountId}:${RestApi}/*/DELETE/contract-chat/history'

  LambdaPermissionCheckUser:
    Type: AWS::Lambda::Permission
    Properties:
      FunctionName: !GetAtt CheckUserFunction.Arn
      Action: lambda:InvokeFunction
      Principal: apigateway.amazonaws.com
      SourceArn: !Sub 'arn:aws:execute-api:${AWS::Region}:${AWS::AccountId}:${RestApi}/*/GET/auth/check-user'

  LambdaPermissionContact:
    Type: AWS::Lambda::Permission
    Properties:
      FunctionName: !GetAtt CreateTicketFunction.Arn
      Action: lambda:InvokeFunction
      Principal: apigateway.amazonaws.com
      SourceArn: !Sub 'arn:aws:execute-api:${AWS::Region}:${AWS::AccountId}:${RestApi}/*/*/*'

  LambdaPermissionAdminStats:
    Type: AWS::Lambda::Permission
    Properties:
      FunctionName: !GetAtt GetSystemStatsFunction.Arn
      Action: lambda:InvokeFunction
      Principal: apigateway.amazonaws.com
      SourceArn: !Sub 'arn:aws:execute-api:${AWS::Region}:${AWS::AccountId}:${RestApi}/*/*/*'

  LambdaPermissionListUsers:
    Type: AWS::Lambda::Permission
    Properties:
      FunctionName: !GetAtt ListUsersFunction.Arn
      Action: lambda:InvokeFunction
      Principal: apigateway.amazonaws.com
      SourceArn: !Sub 'arn:aws:execute-api:${AWS::Region}:${AWS::AccountId}:${RestApi}/*/*/*'

  LambdaPermissionDisableUser:
    Type: AWS::Lambda::Permission
    Properties:
      FunctionName: !GetAtt DisableUserFunction.Arn
      Action: lambda:InvokeFunction
      Principal: apigateway.amazonaws.com
      SourceArn: !Sub 'arn:aws:execute-api:${AWS::Region}:${AWS::AccountId}:${RestApi}/*/*/*'

  LambdaPermissionEnableUser:
    Type: AWS::Lambda::Permission
    Properties:
      FunctionName: !GetAtt EnableUserFunction.Arn
      Action: lambda:InvokeFunction
      Principal: apigateway.amazonaws.com
      SourceArn: !Sub 'arn:aws:execute-api:${AWS::Region}:${AWS::AccountId}:${RestApi}/*/*/*'

  LambdaPermissionDeleteUser:
    Type: AWS::Lambda::Permission
    Properties:
      FunctionName: !GetAtt DeleteUserFunction.Arn
      Action: lambda:InvokeFunction
      Principal: apigateway.amazonaws.com
      SourceArn: !Sub 'arn:aws:execute-api:${AWS::Region}:${AWS::AccountId}:${RestApi}/*/*/*'

# =============================================================================
# OUTPUTS
# =============================================================================
Outputs:
  ApiUrl:
    Description: API Gateway URL
    Value: !Sub 'https://${RestApi}.execute-api.${AWS::Region}.amazonaws.com/${Environment}'
  
  UserPoolId:
    Description: Cognito User Pool ID
    Value: !Ref UserPool

  UserPoolClientId:
    Description: Cognito User Pool Client ID
    Value: !Ref UserPoolClient

  FrontendBucketName:
    Description: Frontend S3 Bucket
    Value: !Ref FrontendBucket

  ContractsBucketName:
    Description: Contracts S3 Bucket
    Value: !Ref ContractsBucket

  CloudFrontDistributionId:
    Description: CloudFront Distribution ID
    Value: !Ref CloudFrontDistribution

  CloudFrontDomainName:
    Description: CloudFront Domain Name
    Value: !GetAtt CloudFrontDistribution.DomainName

